.movies-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  background: #000000;
  padding: 0%;
}
@media only screen and (min-width: 320px) {
  .movies-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
    .movies-list {
        grid-template-columns: repeat(5, 1fr);
      }
}

